{%  extends "webapp/header.html" %}

{% block content %}
    <main role="main" class="container-fluid">
        <h1 class="cover-heading">Your doorway to inspiration.</h1>
        <p class="lead">Say hello to WriterBot, a friendly AI here to help you get over your writer's block!</p>
        <p class="lead">
            <a href="/write" class="btn btn-lg btn-secondary">Get started</a>
        </p>
        <form>
            <input type="text" name="text">
        </form>
    </main>
{% endblock %}
